<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Add New Project
                <small>Something new</small>
            </h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-7">
            <h1>
                <small>Project Name</small>
            </h1>
            {{input class="form-control" placeholder='Project Name' type='text' value=model.name}}
            <h1>
                <small>Version</small>
            </h1>
            {{input class="form-control" placeholder='Version' type='text' value=model.subheading}}
            <h1>
                <small>Image</small>
            </h1>
            {{#if model.image}}
            <img class="img-responsive" {{bind-attr src=model.image}} alt="">
            {{else}}
            <h1>
                <small>No Image Selected</small>
            </h1>
            {{/if}}
            <hr>
            {{#each image in controller.images}}
            <a class="btn" {{action 'selectImage' image model}}>
                <img class="thumbnail profile-img-card pull-left" src={{image.image_url}} alt="">
            </a>
            {{/each}}
            <hr>
            <h1>
                <small>Project Description</small>
            </h1>
            <p class="lead">
                {{textarea class="form-control" placeholder='Post Body' value=model.description rows='10'}}
            </p>
            {{post-length model.description}}
            <h1>
                <small>Project Link</small>
            </h1>
            {{input class="form-control" value=model.project_link}}
            <h1>
                <small>Project Code</small>
            </h1>
            <p class="lead">
                {{input class="form-control" value=model.code_link}}
            </p>
            <h1>
                <i class="fa fa-fw fa-twitter fa"></i><small>Notify Twitter</small>
            </h1>
            <p>
                {{input class="form-control" placeholder='Tweet' type='text' value=twitterPost}}
            </p>
            <div class="row">
                <div class="form-group">
                    <div class="searchable-container">
                        <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div class="square-box pull-left">
                                    <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-default">
                                        <div class="bizcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                            <h5>Tools</h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div class="square-box pull-left">
                                    <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-default">
                                        <div class="bizcontent">
                                            {{!input type="checkbox" name="var_id[]" autocomplete="off" action 'addTag'}}
                                            <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                            <h5>Games</h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div class="square-box pull-left">
                                    <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-default">
                                        <div class="bizcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                            <h5>Software</h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <a class="btn btn-warning" {{action 'cancel'}}>
                Cancel
                &nbsp;
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-primary" {{action 'createNew'}}>
                Save Post
                &nbsp;
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <a class="btn btn-primary" {{action 'createNewAndContinue'}}>
                Save and Create Another
                &nbsp;
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </div>
    </div>
</div>
