<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">BoomerWeb</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>{{#link-to 'portfolio'}}Portfolio{{/link-to}}</li>
                    <li>{{#link-to 'blog'}}DevBlog{{/link-to}}</li>
                    <!--<li>{{!#link-to 'gameplayer'}}GamePlayer{{!/link-to}}</li>-->
                    <li>{{#link-to 'about'}}About{{/link-to}}</li>
                </ul>
                <div style="padding-bottom:50px">
                    {{#if loggedIn}}
                    <button class="btn btn-primary header-button pull-right" {{action 'logout'}}>
                        Log Out
                        &nbsp;
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                    {{else}}
                    <button class="btn btn-primary header-button pull-right" data-toggle="modal" data-target="#myModal" {{action 'showModalLogin'}}>
                        Log In
                        &nbsp;
                        <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
</div>
{{notification-component notificationMessages=currentNotifications}}

{{#if modalLogin}}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="card card-container">
        <h1>Login</h1>
        {{#each error in controller.errors}}
        <div class="container">
            <div class="row">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-hand-right"></span><strong>Failure</strong>
                    <hr class="message-inner-separator">
                    <p>
                        <b>{{error.field}}: {{error.value}}</b>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            {{input type="email" class="form-control" id="inputEmail" placeholder="Email Address" value=email}}
            {{input type="password" class="form-control" id="inputPassword" placeholder="Password" value=password}}
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" {{action 'login'}}>
                Log In
                &nbsp;
                <span class="glyphicon glyphicon-log-in"></span>
            </button>
        </form>
    </div>
</div>
{{/if}}

{{outlet}}