<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">
                Photo Manager
                <small>Add new images</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>
                <small>Photo Editor</small>
            </h2>
            <a class="btn" {{action 'selectImage' image project}}>
            </a>
            <div class="container">
                <div class="row">
                    <div class='list-group gallery'>
                        {{#if loadingImages}}
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                        {{else}}
                        {{#if model}}
                        {{#each image in model}}
                        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                            <button class="thumbnail fancybox" {{action "selectImage" image}}>
                                <img class="img-responsive" src={{image.image_url}} alt="">
                                <div class='text-right'>
                                    <small class='text-muted'>{{image.name}} </small>
                                    <small class='text-muted'> size:{{image.image_size}}</small>
                                </div>
                            </button>
                        </div>
                        {{/each}}
                        {{else}}
                        <hr />
                        <h2>
                            <small>No Photos to Edit</small>
                        </h2>
                        <hr />
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
                {{#if selectedImage}}
                <button class="btn btn-danger pull-left" {{action "deleteImage"  selectedImage}}>
                    Delete {{selectedImage.name}}
                    &nbsp;
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>
                <small>Photo Uploader</small>
            </h2>
            {{#if uploadStatus.uploading}}
            <h3 class="uploading-percentage">Uploaded Percentage: {{uploadStatus.percentComplete}}%</h3>
            {{/if}}

            {{#view view.DragDrop}}
            {{#if uploadStatus.error}}
            <div class="error">An error occurred during the upload process. Please try again.</div>
            {{/if}}
            <div class='list-group gallery'>
                {{#each fileImage in controller.validFiles}}
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <button class="thumbnail fancybox">
                        <div {{bind-attr class="className :file"}}>
                            {{fileImage.name}}
                            {{#view view.ImagePreview image=fileImage class="img-responsive"}}
                            {{/view}}
                        </div>
                    </button>
                    <button class="btn btn-danger" {{action "deleteFile" fileImage}}>
                        Delete Photo
                        &nbsp;
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <hr />
                </div>
                {{/each}}
            </div>
            {{/view}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            {{#view view.DragDrop}}
            {{view view.SingleInput}}
            {{/view}}
        </div>
        <div class="col-lg-8">
            {{#if controller.validFiles}}
            <hr />
            <button class="btn btn-primary" {{action "uploadAllFiles"}}>
                Upload All Files
                &nbsp;
                <span class="glyphicon glyphicon-upload"></span>
            </button>
            {{/if}}
        </div>
    </div>
</div>