<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Portfolio
                <small>Software and Games</small>
                {{#if loggedIn}}

                <!-- EDIT AND ADD PROJECTS BUTTONS -->
                {{#if isEditing}}
                <button class="btn btn-warning" {{action 'cancelState'}}>
                    Cancel
                    &nbsp;
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-primary" {{action 'saveEdits'}}>
                    Save
                    &nbsp;
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                {{else}}
                {{#link-to 'addproject' class="btn btn-primary" }}
                    Add Project
                    &nbsp;
                    <span class="glyphicon glyphicon-plus"></span>
                {{/link-to}}
                <button class="btn btn-primary" {{action 'editState'}}>
                    Edit Projects
                    &nbsp;
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                {{/if}}
                {{#link-to 'photomanager' class="btn btn-primary"}}
                    Photo Manager
                    &nbsp;
                    <span class="glyphicon glyphicon-camera fa-lg"></span>
                {{/link-to}}
                {{/if}}
            </h1>
        </div>
    </div>
    {{#each project in model}}

    <!-- EDIT MAIN FORM -->
    {{#if isEditing}}
    <div class="row">
        <div class="col-md-7">
            <img class="img-responsive" {{bind-attr src=project.image}} alt="">
            <hr />
            {{#each image in controller.images}}
            <a class="btn" {{action 'selectImage' image project}}>
                <img class="thumbnail profile-img-card pull-left" src={{image.image_url}} alt="">
            </a>
            {{/each}}
        </div>
        <div class="col-md-5">
            <h2>
                <small>Title</small>
            </h2>
            <h3>{{input class="form-control" type='text' value=project.name}}</h3>
            <h2>
                <small>Version Number</small>
            </h2>
            <h4>{{input class="form-control" type='text' value=project.subheading}}</h4>

            <h2>
                <small>Project Description</small>
            </h2>
            <p class="lead">{{textarea class="form-control" value=project.description rows="10"}}</p>
            {{#if project.project_link}}
            <h2><small>Project Link</small></h2>
            <p class="lead">{{input class="form-control" value=project.project_link}}</p>
            {{/if}}
            {{#if project.code_link}}
            <h2>
                <small>Project Code</small>
            </h2>
            <p class="lead">{{input class="form-control" value=project.code_link}}</p>
            {{/if}}
            <!-- DELETE BUTTONS -->
            {{#if project.enableDelete}}
            <a class="btn btn-warning" {{action 'cancelDelete' project}}>
                Cancel
                &nbsp;
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-danger" {{action 'confirmDelete' project}}>
                Confirm
                &nbsp;
                <span class="glyphicon glyphicon-check"></span>
            </a>
            {{else}}
            <a class="btn btn-danger" {{action 'deleteModel' project}}>
                Delete Project
                &nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            {{/if}}
        </div>
    </div>
    <hr>

    <!-- DISPLAY PROJECTS NORMALLY -->
    {{else}}
    <div class="row">
        <div class="col-md-7">
            {{!view.DragDrop}}
            <a href="#">
                <img class="img-responsive" {{bind-attr src=project.image}} alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{project.name}}</h3>
            <h4>{{project.subheading}}</h4>
            <p>{{project.description}}</p>
            {{#if project.code_link}}
            <a class="btn btn-primary" href={{project.code_link}}>
                View Code
                &nbsp;
                <span class="fa fa-fw fa-github fa-lg"></span>
            </a>
            {{/if}}
            {{#if project.project_link}}
            <a class="btn btn-primary" href={{project.project_link}}>
                View Project
                &nbsp;
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {{/if}}
        </div>
    </div>
    <hr>
    {{/if}}
    {{/each}}
    <!--<div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>-->
</div>