<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Portfolio
                <small>Software and Games</small>
            </h1>
        </div>
    </div>
    {{#each project in model}}
    <div class="row">
        <div class="col-md-7">
            <a href="#">
            <img class="img-responsive" {{bind-attr src=project.image}} alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{project.name}}</h3>
            <h4>{{project.subheading}}</h4>
            <p>{{project.description}}</p>
            {{#if project.project_link}}
            <a class="btn btn-primary" href={{project.project_link}}>View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            {{/if}}
            {{#if project.code_link}}
            <a class="btn btn-primary" href={{project.code_link}}>View Code <span class="fa fa-fw fa-github fa-lg"></span></a>
            {{/if}}
        </div>
    </div>
    <hr>
    {{/each}}
    <!--<div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>-->
    <hr>
</div>