<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                DevBlog
                <small>Tech Talk</small>
                {{#if loggedIn}}
                {{#link-to 'addpost'class="btn btn-primary" }}
                <span class="glyphicon glyphicon-plus"></span>
                Add Post{{/link-to}}
                <a class="btn btn-primary" {{action 'editState'}}>
                    Edit Posts
                </a>
                {{/if}}
                {{#if isEditing}}
                <a class="btn btn-primary" {{action 'savePostEdits'}}>
                    Save Edits
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {{/if}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            {{#each post in model}}
            {{#if isEditing}}
            <h1>
                <small>Title</small>
            </h1>
            <h1>{{input class="form-control" type='text' value=post.title}}</h1>
            <p class="lead">
                <h1>
                    <small>Author</small>
                </h1>
                {{input class="form-control" type='text' value=post.author}}
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <b>{{date-format post.created_at}}</b></p>
            <hr>
            <h1>
                <small>Image</small>
            </h1>
            <img class="img-responsive" {{bind-attr src=post.image}} alt="">
            <hr>
            <h1>
                <small>Post Body</small>
            </h1>
            <p class="lead">{{textarea class="form-control" value=post.post_body}}</p>
            <hr>
            {{else}}
            <h1>{{post.title}}</h1>
            <p class="lead">
                by {{post.author}}
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <b>{{date-format post.created_at}}</b></p>
            <hr>
            <img class="img-responsive" {{bind-attr src=post.image}} alt="">
            <hr>
            <p class="lead">{{post.post_body}}</p>
            <hr>
            {{/if}}
            {{/each}}

        </div>
        <div class="col-md-offset-9">
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>
    </div>
    <hr>
</div>