<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                DevBlog
                <small>Tech Talk</small>
            </h1>
            <div class="col-md-5">
                {{#if loggedIn}}

                <!-- EDIT AND ADD POSTS BUTTONS -->
                {{#if isEditing}}
                <button class="btn btn-warning" {{action 'cancelState'}}>
                    Cancel
                    &nbsp;
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-primary" {{action 'saveEdits'}}>
                    Save
                    &nbsp;
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                {{else}}
                {{#link-to 'addpost'class="btn btn-primary" }}
                Add Post
                &nbsp;
                <span class="glyphicon glyphicon-plus"></span>
                {{/link-to}}
                <button class="btn btn-primary" {{action 'editState'}}>
                    Edit Posts
                    &nbsp;
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                {{/if}}
                {{#link-to 'photomanager' class="btn btn-primary"}}
                Photo Manager
                &nbsp;
                <span class="glyphicon glyphicon-camera fa-lg"></span>
                {{/link-to}}
                <hr>
                {{/if}}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            {{#each post in controller.loadPosts}}

            <!-- EDIT MAIN FORM -->
            {{#if isEditing}}
            <h1>
                <small>Title</small>
            </h1>
            <h1>{{input class="form-control" type='text' value=post.title}}</h1>
            <p class="lead">
                <h1>
                    <small>Author</small>
                </h1>
                {{input class="form-control" type='text' value=post.author}}
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <b>{{date-format post.created_at}}</b></p>
            <hr>
            <h1>
                <small>Image</small>
            </h1>
            <img class="img-responsive" {{bind-attr src=post.image}} alt="">
            <hr />
            {{#each image in controller.images}}
            <a class="btn" {{action 'selectImage' image post}}>
                <img class="thumbnail profile-img-card pull-left" src={{image.image_url}} alt="">
            </a>
            {{/each}}
            <h1>
                <small>Post Body</small>
            </h1>
            <p>{{textarea class="form-control" value=post.post_body rows="15"}}</p>

            <!-- DELETE BUTTONS -->
            {{#if post.enableDelete}}
            <a class="btn btn-warning" {{action 'cancelDelete' post}}>
                Cancel
                &nbsp;
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-danger" {{action 'confirmDelete' post}}>
                Confirm
                &nbsp;
                <span class="glyphicon glyphicon-check"></span>
            </a>
            {{else}}
            <a class="btn btn-danger" {{action 'deleteModel' post}}>
                Delete Post
                &nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </a>
            {{/if}}

            <!-- DISPLAY POSTS NORMALLY -->
            {{else}}
            <h1>{{post.title}}</h1>
            <p class="lead">
                by {{post.author}}
            </p>
            <hr>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <b>{{date-format post.created_at}}</b></p>
            <hr>
            <img class="img-responsive" {{bind-attr src=post.image}} alt="">
            <hr>
            <p>{{post.post_body}}</p>
            {{/if}}
            <hr>
            {{/each}}
            <!-- LOAD MORE BUTTON -->
            <button class="form-control btn btn-primary" disabled={{allPostsLoaded}} {{action 'loadMorePosts'}}>
                Load More
                &nbsp;
                <span class="glyphicon glyphicon-download fa-lg"></span>
            </button>
        </div>
        <!-- BLOG SIDE BAR -->
        <div class="col-md-offset-9">
            {{#if loggedIn}}
            <!-- POST TO TWITTER -->
            <h2>Post to twitter</h2>
            <div>
                <p class="lead">{{textarea class="form-control" value=twitterPost.text rows="5"}}</p>
                {{post-length twitterPost.text}}
                <a class="btn btn-primary pull-right" {{action 'postToTwitter'}}>
                    Tweet
                    &nbsp;
                    <span class="glyphicon glyphicon-send"></span>
                </a>
            </div>

            <hr />
            {{/if}}
            <div class="chat-panel">
                <h2>
                    <a href="https://twitter.com/boomer_web"><i class="fa fa-fw fa-twitter fa-lg"></i>twitter</a>
                    {{#if loadingTweets}}
                    <i class="fa fa-refresh fa-spin fa-lg"></i>
                    {{/if}}
                </h2>
                <div class="panel-body">
                    <ul class="chat">
                        {{#each tweet in controller.tweets}}
                        {{#if tweet.text}}
                        <li>
                            <div class="message-item" id="m1">
                                <div class="message-inner">
                                    <div class="message-head">
                                        <div class="user-detail">
                                            <div class="post-meta">
                                                <div class="avatar pull-left">
                                                    <img {{bind-attr src=tweet.user.profile_image_url}} />
                                                </div>
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                                        <span class="qa-message-when-data pull-right">
                                                            <span class="glyphicon glyphicon-time"></span>
                                                            {{date-format tweet.created_at}}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        <p>{{tweet.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>